:root {
    --tile-width: 55px;
    --margin-board: 120px;
    --green: #2c792c;
    --light-yellow: #FFD23F;
    --light-red: #be362c;
    --background-color: white;
    --light-blue: #239bfb;
}

h1 {
    font-family: sans-serif;
}

body {
    background-color:var(--background-color)
}
.yellow {
    background-color:var(--light-yellow);
}
.red {
    background-color: var(--light-red);
}
.nocolor {
    background-color: var(--background-color);
    border-color: var(--background-color)
}

.white {
    background-color: white;
}

.gray {
    background-color:gray;
}


.square {
    background-color:var(--light-blue);
    margin-top: var(--margin-board);
    margin-bottom: var(--margin-board);
    border-radius: 10px;
}
.dirButton {
    border-radius:  50%;
    border-width: 2px;
    font-size:xx-large;
    margin: 3%;
    text-align: center;
}

.col {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}
.grid{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.circle {
    height: var(--tile-width);
    width: var(--tile-width);
    border-radius: 50%;
    margin: 10px;
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.board-and-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.centerContents {
    display: flex;
    justify-content: space-around;
}

.controls {
    margin: 20%;
    display: grid;
    grid-template-columns: auto auto auto;
}

.controlsAndArrow {
    display: flex;
    flex-direction:column;
    align-items: center;
}

.arrow {
    height: var(--tile-width);
    width: var(--tile-width);
    border-radius: 50%;
    margin: 5px;
}

#center1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
#center2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rotate {
    width: 80%;
}

.turn-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.S {
    rotate:0deg;
}
.SE {
    rotate:315deg;
}

.E {
    rotate:270deg;
}

.NE {
    rotate:225deg;
}

.N {
    rotate:180deg;
}

.NW {
    rotate:135deg;
}

.W {
    rotate:90deg;
}

.SW {
    rotate:45deg;
}