:root {
    --tile-width: 70px;
    --margin-board: 20px;
    --green: #2c792c;
    --light-yellow: #FFD23F;
    --light-red: #be362c;
    --background-color: var(--green);
    --light-blue: #239bfb;
}

body {
    background-color:var(--background-color)
}
.yellow {
    background-color:var(--light-yellow);
}
.red {
    background-color: var(--light-red);
}
.nocolor {
    background-color: var(--background-color);
    border-color: var(--background-color)
}

.white {
    background-color: white;
}

.gray {
    background-color:gray;
}


.square {
    background-color:var(--light-blue);
    margin-top: var(--margin-board);
    margin-bottom: var(--margin-board);
    border-radius: 10px;
}
.dirButton {
    border-radius:  10%;
    border-width: 2px;
    font-size:xx-large;
    margin: 3%;
    text-align: center;
}

.col {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}
.grid{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.circle {
    height: var(--tile-width);
    width: var(--tile-width);
    border-radius: 50%;
    margin: 10px;
}

.board-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.centerContents {
    display: flex;
    justify-content: space-around;
}

.controls {
    margin-bottom: 20%;
    display: grid;
    grid-template-columns: auto auto auto;
}

.controlsAndArrow {
    display: flex;
    flex-direction:column;
    align-items: center;
}
.south {
    rotate:0deg;
    border-radius:50%;
}
.southeast {
    rotate:315deg;
    border-radius:50%;
}

.east {
    rotate:270deg;
    border-radius:50%;
}

.northeast {
    rotate:225deg;
    border-radius:50%;
}

.north {
    rotate:180deg;
    border-radius:50%;
}

.northwest {
    rotate:135deg;
    border-radius:50%;
}

.west {
    rotate:90deg;
    border-radius:50%;
}

.southwest {
    rotate:45deg;
    border-radius:50%;
}