@tailwind base;
@tailwind components;
@tailwind utilities;

.square {
    background-color:darkgreen;
    margin-top: 100px;
    border-radius: 10px;
    border-width: 2px;
    border-color: purple;
}

.col {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}
.grid{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.whiteCircle {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 40%;
    margin: 10px;
}

.yellowCircle {
    height: 100px;
    width: 100px;
    background-color: gold;
    border-radius: 40%;
    margin: 10px;
}

.redCircle { 
    height: 100px;
    width: 100px;
    background-color: darkred;
    border-radius: 40%;
    margin: 10px;
}


.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}