@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --tile-width: 70px;
    --margin-board: 20px;
}

.square {
    background-color:darkgreen;
    margin-top: var(--margin-board);
    margin-bottom: var(--margin-board);
    border-radius: 10px;
    border-width: 2px;
    border-color: purple;
}
.dirButton {
    background-color:darkgreen;
    border-radius: 10px;
    border-width: 2px;
    border-color: purple;
}

.col {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}
.grid{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.whiteCircle {
    height: var(--tile-width);
    width: var(--tile-width);
    background-color: white;
    border-radius: 40%;
    margin: 10px;
}

.yellowCircle {
    height: var(--tile-width);
    width: var(--tile-width);
    background-color: gold;
    border-radius: 40%;
    margin: 10px;
}

.redCircle { 
    height: var(--tile-width);
    width: var(--tile-width);
    background-color: darkred;
    border-radius: 40%;
    margin: 10px;
}
.board-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.centerContents {
    display: flex;
    justify-content: space-around;
}

#control-panel {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}